<h1>Maps#index</h1>
<p>Find me in app/views/maps/index.html.erb</p>
<div id="map" style="width: 100%; height: 500px;"></div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<div id="map" style="height: 500px;"></div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const map = L.map('map').setView([47.7511, -120.7401], 7); // Center of Washington State
    
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
  });
</script>
